<section class="perfil-container"
         xmlns:th="http://www.thymeleaf.org">

    <form th:action="@{/informacion-personal/guardar}"
          th:object="${usuario}"
          method="post">

        <!-- PERFIL -->
        <div class="perfil-card text-center">
            <div class="perfil-avatar mb-2">
                <i class="fa-regular fa-user fa-3x"></i>
            </div>

            <h4 th:text="*{nombre + ' ' + primerApellido}"></h4>

            <!-- ID USUARIO -->
            <input type="hidden" th:field="*{idUsuario}">
        </div>

        <!-- DATOS PERSONALES -->
        <div class="datos-card mt-4">
            <div class="row g-3">

                <div class="col-md-4">
                    <label class="form-label">Nombre</label>
                    <input class="form-control"
                           th:field="*{nombre}">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Primer apellido</label>
                    <input class="form-control"
                           th:field="*{primerApellido}">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Segundo apellido</label>
                    <input class="form-control"
                           th:field="*{segundoApellido}">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Correo</label>
                    <input class="form-control"
                           type="email"
                           name="correo"
                           th:value="${correo.correo}">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Teléfono</label>
                    <input class="form-control"
                           type="text"
                           name="numero"
                           th:value="${telefono.numero}">
                </div>

                <div class="col-12">
                    <label class="form-label">Dirección</label>
                    <textarea class="form-control"
                              name="otrasSenas"
                              rows="3"
                              th:text="${direccion != null} ? ${direccion.otrasSenas} : ''">
                    </textarea>
                </div>


            </div>
        </div>

        <!-- ACCIONES -->
        <div class="acciones mt-4 text-center">
            <button class="btn btn-primary" type="submit">
                <i class="fa-solid fa-floppy-disk me-1"></i>
                Guardar cambios
            </button>
        </div>

    </form>

</section>
