<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{resetContrasenna/fragmentos :: head}">
        <script th:inline="javascript">
            window.__RESET_MODO__ = "request";
        </script>
        <script th:src="@{/js/script.js}"></script>
        <script th:src="@{/js/passwordMode.js}"></script>
    </head>

    <body>
        <div class="login-container">
            <div th:replace="~{resetContrasenna/fragmentos :: container-1}"></div>

            <div th:replace="~{resetContrasenna/fragmentos :: form-password}"></div>
        </div>

    </body>
</html>
